@import './_reset.scss';
@import './_mixins.scss';
@import './_mixinKeyframes.scss';

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@include scoreCounterSteps(-318, -366, -582, -610, -638, -666);


* {
  image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

::selection {
  background: transparent;
}

body {
  background: url('../resources/bcg.png');
  display: grid;
}

#gameUI, #gameCanvas {
  grid-column: 1;
  grid-row: 1;
}

#gameCanvas {
  display: block;
  margin: 20px auto;
  border: 1px solid rgba(0, 50, 100, 0.4);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}


UIElement {
  margin: auto;
  background-image: url('../resources/sprite.png');
  background-repeat: no-repeat;
  position: fixed;
}

.bounceUpAndDown {
  animation: bounceUpAndDown 1s infinite forwards;
}

.fadeout {
  animation: fadeOut 1s forwards;
}


#gameUI {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainTitle {
  @extend UIElement;
  @include spriteCoordinates(-699px, -180px, 183px, 52px);
  $initialTransform: -144px;
  transform: translateY($initialTransform);
  @include keyFrameBounceUpAndDown($initialTransform);
}

#startButton {
  @extend UIElement;
  @include spriteCoordinates(-582px, -180px, 118px, 101px);
  $initialTransform: -10px;
  transform: translateY($initialTransform);
}

#scoreCounterCountainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreCounterFirstDigit {
  @extend UIElement;
  position: static;
  $initialTransform: -216px;
  width: 28px;
  height: 40px;
  transform: translateY($initialTransform);
  animation: scoreCounterSteps 10s steps(10, end) infinite;
  animation-delay: -0s;
  animation-play-state: paused;
}

#scoreCounterSecondDigit {
  @extend #scoreCounterFirstDigit;
  display: none;
}